/** @format */

.App {
  text-align: center;
}

.layoutContainer {
  padding-bottom: 30px;
}

.titleBox {
  padding: 0 20px;
}
.titleBox h1 {
  border: 3px solid black;
  font-weight: 500;
  padding: 5px 10px;
}
.layoutInner {
  display: flex;
  padding: 0 10px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
